/* #7FAFBF main style sheet */

html{
	height: 100%;
	margin: 0;
}

body {
	height:100%;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	background-color: #F2EEE5;
	color: #555555;
}

/* cookie */
#cookiebanner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #37486C;
    visibility: hidden;
    z-index: 99999;
}

.cookietext {
	color: #f8f8f8;
	margin: 0px 20px 0px 20px;
}

.cookiecontent {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 0px 20px 0px;
}

.cookiebuttons {
	display: flex;
	flex-direction: row;
}

.btncookie {
	background-color: #7FAFBF;
	cursor: pointer;
	color: #f8f8f8;
	font-size: 18px;
	padding: 5px 10px 5px 10px;
	border: 2px solid #7FAFBF;
}

.btncookie:hover {
    background-color: #37486C;
    border: 2px solid #7FAFBF;
    color: #7FAFBF;
}

/* spinner */
#spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spinner_hidden {
    visibility: hidden;
    opacity: 0;
    /* transition: opacity .3s ease-in-out; */
}

.spinner_loading {
    visibility: visible;
    opacity: 1;
    /* transition: opacity .3s ease-in-out; */
}

.spinner_box {

}

.spinner_text {
	text-align: center;
}

/* elipse */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* typography */

p {
	margin: 0px;
}

h1 {
    color: #FFFFFF;
}

h2 {
	color: #7FAFBF;
	margin-bottom: 15px;
}

h3 {
	font-size: 18px;
	color: #555555;
}

h4 {
	margin: 15px 0px 5px 0px;
}

h5 {
	font-size: 18px;
	line-height: 1;
	margin: 10px 0px 10px 0px;
}

a {
	color: #7FAFBF;
}

a:hover {
	color: #A86664;
}

/* general */
#nav {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #aaaaaa;
}

.navcontainer {
    width: 90%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logocontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo_img {
	background-image: url('/static/trailcondition/images/trailkondico_dark.png');
	background-size: 50px;
    background-color: #37486C;
    -webkit-border-radius: 50%;
    height: 50px;
    width: 50px;
}

.logo_center {
	margin-left: 10px;
    display: flex;
    align-items: center;
}

.logo_center a {
    text-decoration: none;
    	font-size: 2rem;
	color: #555555;
	font-weight: bold;
	line-height: 0.5;
}

.logo_center a:hover {
    text-decoration: none;
}

.logo_center a:visted {
    text-decoration: none;
    color: #555555;
}

.navitemcontainer {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navitem {
    margin-left: 35px;
}

.navitem a {
    text-decoration: none;
}

.locationinfocontainer {
    display: flex;
    align-items: center;
}

.maincontainer {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* container1 */
.container1 {
    width: 100vw;
    height: 100vh;
    position: relative;
    scroll-snap-align: start;
}

.container1:before {
  /*      background: url('/static/trailcondition/images/michael-behrens-@mfbehrens99.jpg');
	-ms-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;*/
}

.contentcontainer {

    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0px auto;
    align-items: center;
    height: 100%;
        margin-top: -4rem;
}

.contentleft {
    width: 60%;
}

.text_center {

}

.text_center span {
    background-image: linear-gradient(to right, #273469 , #273469 );
    background-position: -1rem 2.5rem;
    background-repeat: repeat-x;
    background-size: 100px 100px;
    color: #555555;
    line-height: 3rem;
    font-size: 2.5rem;
}

.contentright {
    width: 40%;
    max-width: 40%;
    flex-shrink: 0;
}
/* callout box */
.boxhigh {
    background-color: #EF5D60;
    height: 80%;
    box-shadow: 10px 10px #273469;
    padding: 2rem;
}

.text_boxhigh {
    color: #F2EEE5;
}

.button_boxhigh {
	margin: auto;
	text-align: center;
	margin-top: 2rem;
}

.selectbutton {
	background-color: #ffffff;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	color: #444444;
}
.selectbutton:visited {
	color: #444444;
}
.selectbutton:hover {
		color: #f8f8f8;
		background-color: #7FAFBF;
		transition: background-color .3s ease-in-out;
		text-decoration: none;
	}

.selectbutton_temp {
	background-color: #ddd;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	color: #aaa;
	margin-left: 40px;
	cursor: pointer;
}

/* container2 */
.container2 {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
}

#main {
	height: 100%;
}

/* all around map  */

#map {
    height: 100%;
    width: 100%;
}

#location {
    position: relative;
    z-index: 99999;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    overflow: hidden;
    cursor: pointer;
    top: 125px;
    left: 10px;
}


/* -- */
#head {
	/* background: url('/static/trailcondition/images/michael-behrens-@mfbehrens99.jpg'); */
/*	resize: both;
	-ms-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100vh;*/
}


.button_center_result {
	margin: auto;
	width: 50%;
	text-align: center;
	margin-bottom: 50px;
	position: relative;
	z-index: 10;
}



#cover {
	opacity: 0.5;
	width: 100%;
	height: 100%;

}


#inputbox {
    margin-left: 10px;
    font-size: 18px;
}

#lat, #lng, #type {
    background: transparent;
    border: none;
}

.icon_arrow {
	margin: 8px 0px 0px 7px;
}

/* --------- */

#mapbackbutton {
    position: absolute;
	z-index: 1500;
	right: 10px;
	margin-top: 90px;
	visibility: hidden;
}




.btnlink a {
	color: #A86664;
	cursor: pointer;
}

.btnlink a:hover {
	color: #A86664;
	cursor: pointer;
	background-image: linear-gradient(to right, #A86664 , #A86664 );
	background-position: -100px 20px;
	background-repeat: repeat-x;
	background-size: 100px 100px;

}

.btnlink {
	padding: 5px 10px 5px 10px;
	margin: 0px 10px 0px 0px;
}




.popupbutton {
    border-radius: 25px;
    text-align: center;
		border: 1px solid #444444;
		background: #ffffff	;
}

.popupbutton:hover {
    border-radius: 25px;
    text-align: center;
		border: 1px solid #7FAFBF;
		transition: border .3s ease-in-out;
}

.popuplink {
		text-decoration: none;
		font-size: 18px;
		margin: 20px 20px;
		color: #444444;
}

.headliner_decoration {
	width: 50px;
	height: 1px;
	background-color: #A86664;
	margin-bottom: 30px;
}


/* footer */
footer {
    width: 100%;
    bottom: 0;
    text-align: center;
    color: #bbbbbb;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
    position: absolute;
}

/* result */
#resultmap {
	height: 300px;
	width: 500px;
	margin: 0px auto;
	border-left: 10px solid #f0f0f0;
	border-right: 10px solid #f0f0f0;
	border-top: 10px solid #f0f0f0;
	z-index: 10;
	position: relative;
}

.result_grid {
	display: grid;
	grid-template-columns: 50% 50%;
}

.result_col1 {
	border-right: 1px dotted #000;
  height: 50px;
}

.result_col11 {
	border-right: 1px dotted #000;
  height: 50px;
}

.result_col2 {

}

.content {
	width:100%;
	padding-bottom: 50px;
}


.box {
	width: 520px;
	margin: auto;
	text-align: center;
	border: 1px solid #e0e0e0;
	background-color: #efefef;
	padding-top: 20px;
	padding-bottom: 30px;
	color: #37486C;
	box-shadow: 0px 0px 5px #c0c0c0;
}

.box_rain {
	width: 500px;
	margin: auto;
	text-align: center;
	border: 1px solid #e0e0e0;
	background-color: #efefef;
	padding-top: 20px;
	padding-bottom: 30px;
	border: 10px solid #37486C;
	color: #37486C;
	box-shadow: 0px 0px 5px #c0c0c0;
}

.box3 {
	width: 520px;
	margin: auto;
			margin-top: auto;
	text-align: center;
	border: 1px solid #e0e0e0;
	background-color: #efefef;
	padding-top: 20px;
	padding-bottom: 30px;
	color: #37486C;
	box-shadow: 0px 0px 5px #c0c0c0;
}

.result_text {
	color: #7FAFBF;
	font-style: italic;
}

.result_surface_box {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.minibox {
	flex-grow: 3;
}

.large_icon {
	width: 45px;
	margin-bottom: -10px;
}

.result_surface_icon{
	width: 50px;
}
