# Project exclude paths

/website/settings.py
/website/algo/M_apikey.py
/website/website/settings.py
/website/website/settings2.py
/website/M_apikey.py
settings.py
M_apikey.py
/.vscode/
/.idea/

*.pyc
